/* CSS file */
.home{
	upSkin:Embed("img/首页_1.png");
	overSkin:Embed("img/首页_1_.png");
	downSkin:Embed("img/首页_1_.png");
}
.construct{
	upSkin:Embed("img/构建网络_1.png");
	overSkin:Embed("img/构建网络_1_.png");
	downSkin:Embed("img/构建网络_1_.png");
}
.load{
	upSkin:Embed("img/加载网络_1.png");
	overSkin:Embed("img/加载网络_1_.png");
	downSkin:Embed("img/加载网络_1_.png");
}
.save{
	upSkin:Embed("img/保存网络_1.png");
	overSkin:Embed("img/保存网络_1_.png");
	downSkin:Embed("img/保存网络_1_.png");
	disabledSkin:Embed("img/保存网络_1_disabled.png");
}
.run{
	upSkin:Embed("img/运行网络_1.png");
	overSkin:Embed("img/运行网络_1_.png");
	downSkin:Embed("img/运行网络_1_.png");
	disabledSkin:Embed("img/运行网络_1_disabled.png");
}
.option{
	upSkin:Embed("img/设置_1.png");
	overSkin:Embed("img/设置_1_.png");
	downSkin:Embed("img/设置_1_.png");
}
.linkButton{
	color:blue;
	font-size:15;
}
.operator{
	upSkin:Embed("img/定义算子_1.png");
	overSkin:Embed("img/定义算子_1_.png");
	downSkin:Embed("img/定义算子_1_.png");
}